<h1>Gestures</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <%= form_tag gestures_path, :method => 'get', class: "nav navbar-form navbar-left", role: "search" do %>

        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li>
            <%= link_to new_gesture_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Gesture
            <% end %>
        </li>
      </ul>

  </div>
</nav>


<table class="table table-hover">
  <tr>
    <th><%= sortable "title" %></th>
    <th colspan="2"></th>
  </tr>

  <% @gestures.each do |gesture| %>
  <tr>
    <td><%= gesture.title %></td>
    <td>
      <div class="pull-right">
      <%= link_to 'Show', gesture_path(gesture), class: 'btn btn-primary btn-xs'%>
      <%= link_to 'Destroy', gesture_path(gesture),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
