<h1>New Gesture</h1>

<%= form_for @gesture, role: "form" do |f| %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.text_field :compressed_data, hidden: true %>

  <div id="output"></div>
  
  <div class="btn-group" role="group">
    <button type="button" id="record-button" class="btn btn-default">Record</button>
    <button type="button" id="playback-button" class="btn btn-default">Playback</button>
  </div>

  <%= f.submit %>
<% end %>
