<!DOCTYPE html>
<html>
<head>
  <title>Leap</title>
  <%= javascript_include_tag "three.min.js" %>
  <script src="//js.leapmotion.com/leap-0.6.4.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.10.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.7.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
  <%= yield %>
  </div>

</body>
</html>
